<!DOCTYPE html>
<html>
<head>
    <title>Daftar Laporan</title>
</head>
<body>
    <h1>Daftar Laporan</h1>

    <a href="{% url 'add_report' %}">Tambah Laporan</a>
    <br><br>

    {% if reports %}
        <table border="1" cellpadding="10">
            <tr>
                <th>ID</th>
                <th>Judul</th>
                <th>Kategori</th>
                <th>Deskripsi</th>
                <th>Lokasi</th>
                <th>Status</th>
                <th>Dibuat Pada</th>
                <th>Aksi</th>
                <th>Workflow</th>
            </tr>

            {% for report in reports %}
            <tr>
                <td>{{ report.id }}</td>
                <td>{{ report.title }}</td>
                <td>{{ report.category }}</td>
                <td>{{ report.description }}</td>
                <td>{{ report.location }}</td>
                <td>{{ report.status }}</td>
                <td>{{ report.created_at }}</td>

                <!-- AKSI CRUD -->
                <td>
                    <a href="{% url 'update_report' report.pk %}">Edit</a>
                    |
                    <a href="{% url 'delete_report' report.pk %}">Hapus</a>
                </td>

                <!-- WORKFLOW STATUS -->
                <td>
                    {% if report.status == "REPORTED" %}
                    <form method="POST" action="{% url 'update_status' report.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="status" value="VERIFIED">
                        <button type="submit">Verifikasi</button>
                    </form>
                    {% endif %}

                    {% if report.status == "VERIFIED" %}
                    <form method="POST" action="{% url 'update_status' report.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="status" value="IN_PROGRESS">
                        <button type="submit">Proses</button>
                    </form>
                    {% endif %}

                    {% if report.status == "IN_PROGRESS" %}
                    <form method="POST" action="{% url 'update_status' report.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="status" value="RESOLVED">
                        <button type="submit">Selesai</button>
                    </form>
                    {% endif %}

                    {% if report.status == "RESOLVED" %}
                        ✔ Selesai
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Belum ada laporan.</p>
    {% endif %}
</body>
</html>
